/* ini file css */
* {
  overflow: auto;
  scrollbar-width: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  height: 50px;
  width: 50px;
  background-image: url(https://picsum.photos/200);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

nav {
  display: flex;
}

nav > a {
  padding: 8px;
  border: 1px solid;
  text-decoration: none;
  color: black;
}

hr {
  border-width: 2px;
}

.banner-img,
.profile-content,
.achiev-content,
.message-content {
  border: 1px solid;
  height: 500px;
  align-content: center;
  text-align: center;
}

footer {
  text-align: center;
}
